<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socket.io command logs</title>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="main">
      <h1>Socket.io command logs</h1>
      <div class="user-info">
        <span class="num-of-users"> active-users : <%= numberOfUsers %> </span>
        <table class="user-list">
          <tr class="top-h">
            <th>id</th>
            <th>current_room</th>
            <th>time_joined</th>
          </tr>
          <% users.forEach(user => { %>
          <tr class="user">
            <td><%= user.id %></td>
            <td><%= user.room %></td>
            <td><%= user.time %></td>
          </tr>
          <% });%>
        </table>
      </div>
      <div class="commands">
        <table class="command-list">
          <tr class="top-h">
            <th>user</th>
            <th>command</th>
            <th>time_init</th>
          </tr>
          <% commands.forEach(command => { %>
          <tr>
            <td><%= command.user %></td>
            <td><%= command.type %></td>
            <td><%= command.timeInit %></td>
          </tr>
          <%});%>
        </table>
      </div>
    </div>
  </body>
</html>
